<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="f4c69777-07a2-4ae9-9779-a76b41380231"
            Publisher="CN=krishna"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>LeapRT</DisplayName>
    <PublisherDisplayName>krishna</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="LeapRT.App">
        <VisualElements
            DisplayName="LeapRT"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="LeapRT"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>